[flake8]
# Встановлюємо стандарт довжини рядка 120 (зручно для моніторів)
max-line-length = 120

# ПРАВИЛА, ЯКІ МИ ПЕРЕВІРЯЄМО:
# E225 - вимагає пробіли навколо операторів, наприклад: a = b (а не a=b)
# E231 - вимагає пробіл після коми
# E302 - вимагає два порожніх рядки між класами/функціями
select = E,W,F

# Файли та папки, які лінтер має ігнорувати
exclude = 
    .git,
    __pycache__,
    venv,
    .pytest_cache,
    reports/

# Ігноруємо деякі некритичні моменти
# W503 - перенос рядка перед бінарним оператором (застаріле правило)
ignore = W503