pygame: Без цього не запрацює ані сама гра DuckHunt, ані тести, оскільки вони імпортують класи з вашого коду.

pytest: Це база для виконання 1-го пункту вашої лабораторної.

pytest-mock: Вкрай важлива річ для DuckHunt. Оскільки в коді engine.py клас Game при ініціалізації відразу створює вікно (pygame.display.set_mode), тести "впадуть" на сервері GitHub, бо там немає монітора. Ця бібліотека дозволить Учаснику 1 "замокати" (підмінити) вікно.

pytest-html та flake8-html: Це потрібно для виконання 5-го пункту завдання — генерації красивих звітів, які ви потім покажете викладачу.

flake8: Це "двигун" для вашого файлу .flake8, який перевірятиме пробіли та стиль.